/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/



/* Doodle Stage */
#stage {
  background: #fff;
  height: 300px;
  width: 600px;
  position: relative;
}

#input{
  padding-top: 5-px;
}

img{
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#light{
  opacity: 20%;
}

#sword{
  transform-origin: 300px 200px;
}