/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}

/* Doodle Stage */
#stage {
  background: #fff;
  height: 300px;
  width: 600px;
  position: relative;
}

#input{
  padding-top: 5-px;
}

img{
  width: 100%;
  position: absolute;
  display: inline;
  left: 0;
  top: 0;
}

#light{
  opacity: 20%;
}
